<h2>Credit Card input</h2>
<div class="credit-card">
  <EmberCleave @options={{creditCardOptions}} />
  Credit Card Provider: {{cardName}}
</div>

<h2>Date input</h2>
<div class="date">
  <EmberCleave @options={{dateOptions}} @placeholder="Date Pattern: 'YYYY:MM:DD'" />
</div>

<h2>Time input</h2>
<div class="time">
  <EmberCleave @options={{timeOptions}} @placeholder="Time Pattern: 'HH:MM:SS'" />
</div>

<h2>Numeral input</h2>
<div class="numeral">
  <EmberCleave @options={{numeralOptions}} @placeholder="Seperate by thousands" />
</div>

<h2>Custom input</h2>
<div class="custom">
  <EmberCleave @options={{customOptions}} @placeholder="Pattern: [4, 3, 3,4]" />
</div>

<h2>Custom input with delimiter</h2>
<div class="custom">
  <EmberCleave @options={{customOptionsWithDelimiter}} @placeholder="Delimiter: ." />
</div>

<h2>Custom input with prefix</h2>
<div class="custom">
  <EmberCleave @options={{customOptionsWithPrefix}} />
</div>

<h2>Customized input</h2>
<div>
  <EmberCleave @class="custom-class" @options={{numeralOptions}} @placeholder="Seperate by thousands" />
</div>


<h2>Disabled input</h2>
<div class="numeral">
  <EmberCleave @options={{numeralOptions}} @value={{defaultNumeralValue}} @disabled={{true}} />
</div>
